body {
	background-color: #333;
	color: #000;
}

.custom-background {
	background-color: #333;
	padding: 20px;
	color: #fff;
}

.custom-post-background {
	background-color: #393939;
	padding: 20px;
	color: #fff;
}

h2 {
	color: #fff;
}

h1, h3, h4, h5, h6 {
	color: #fff;
}

input {
	color: #fff;
}

.custom-input {
	color: #E3E3E3;
	}
