{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'dark-mde.css' %}">
{% block head_title %}{{ user.username }} | Django Blog{% endblock head_title %}

{% block content %}
<div class="container-fluid mt-6 custom-background" >
  <div class="row">
    <div class="card col-lg-5 offset-lg-3 mb-3">
      <div class="row">
        {% if user.profile.image %}
        <img class="card-img-top col-sm-3 col-4 my-3" src="{{ profile.image.url }}" alt="{{ user.username }}">
        {% else %}
        <img class="card-img-top col-sm-3 col-4 my-3" src="{% static 'img/defaultpfp.png' %}" alt="{{ user.username }}">
        {% endif %}
        <div class="card-body col-9">
          <h2 class="card-title my-3">{{ user.username }}</h2>
          <p>Last login on: {{ user.last_login }}</p>
          <p class="card-text">{{ user.profile.about_me }}</p>
        </div>
	<p><a href="{% url 'users:edit_profile' %}">Edit Profile</a></p>
	<div class="card-body col-9"></div>
	<p><a href="{% url 'users:password_change' %}">Change Password</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
